# dependencies (bun install)
node_modules/

# output
out/
dist/

*.wasm

demos/*/*.ts
!demos/*/exported.ts
!demos/*/exports.ts
!demos/hello_quick/compile_demo.ts

prototype/*.ts
unstable/*.ts
!compile.ts